<% chatrooms.each do |chatroom| %>
  <div class="chatroom-container mt-0">
    <div class="chatroom-card">
      <%= link_to chatroom_path(chatroom) do %>
        <div class="chatroom-details">
          <%= cl_image_tag chatroom.match.other_user(current_user).photo.key, class: "avatar" %>
          <h6><%= chatroom.match.other_user(current_user).name.capitalize %></h6>
        </div>
        <p><%= chatroom.match.teach_skill_1.skill.name %> ↔  <%= chatroom.match.teach_skill_2.skill.name %></p>
        <p class="last-message">Last message: <%= chatroom.last_message_time.strftime("%d %b %Y %H:%M") %></p>
      <% end %>
    </div>
  </div>
<% end %>
