
<div class="main-container-matches">
  <h1 id="matches-title">Your Matches</h1>
  <% if @matches.count > 0  %>
    <% current_user.learn_skills.each do |ls| %>
      <% if @matches.any? { |m| m.teach_skill_2.skill == ls.skill } %>
        <div class="metacontainermatches">
        <hr class="line-above-skill"> <!-- Add this line -->
        <h2 class="skill-title"><%= ls.skill.name %></h2>
          <div class="flex-container">
            <% @matches.each do |m| %>
              <% if m.teach_skill_2.skill == ls.skill %>
                <%= link_to profile_other_path(m.teach_skill_2.user.id), class: "match-new-details" do %>
                  <div class="match-details" style="background-image: url(<%= m.teach_skill_2.user.photo.url %>)">
                    <p class="name-match"><%= m.teach_skill_2.user.name.capitalize %></p>
                    <p>You teach: <span class="learn-pill-match"><%= m.learn_skill_2.skill.name %></span></p>
                   </div>
                <% end %>
              <% end %>
          <% end %>
          </div>
      <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="no-matches">
        <p>You see no matches because you have not added any skills you can teach and skills that you want to learn.</p>
        <%= link_to "Click here to add skills", profile_edit_path(anchor: "skills-update"), class: "button-no-matches" %>
      </div>
  <% end %>
</div>
