<div class="profile-basic-info">
<%= simple_form_for @user, url: profile_update_path do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.input :age %>
  <%= f.input :city %>
  <%= f.input :gender %>
  <%= f.input :bio %>
  <%= f.input :availibility %>
  <%= f.button :submit %>
<% end %>
</div>
<div class="skills">
<div class="teach">
<h2>what do you want to teach</h2>
<% 5.times do |i| %>
  <div class="skill">
    <% if @teach_skills[i] %>
    <%= @teach_skills[i].skill.name %>
    <%= link_to "Edit", edit_teach_skill_path(@teach_skills[i]) %>
    <%= link_to "Delete", teach_skill_path(@teach_skills[i]), data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to delete?" } %>
    <% else %>
    Skill <%= i + 1 %> not selected
    <%= link_to "Add Skill", new_teach_skill_path %>
    <% end %>

</div>
<% end %>


</div>

<br>
<div class="learn">

<h2>What do you want to learn</h2>
<% 5.times do |i| %>
  <div class="skill">
    <% if @learn_skills[i] %>
    <%= @learn_skills[i].skill.name %>
    <%= link_to "Edit", edit_learn_skill_path(@learn_skills[i]) %>
    <%= link_to "Delete", learn_skill_path(@learn_skills[i]), data: { turbo_method: "delete", turbo_confirm: "Are you sure you want to delete?" } %>
    <% else %>
    Skill <%= i + 1 %> not selected
    <%= link_to "Add Skill", new_learn_skill_path %>
    <% end %>
</div>
<% end %>
</div>
</div>
