<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="_other.scss"> <!-- Link to your CSS file -->
  <title>User Profile</title>
</head>
<body>

<!-- Your HTML file -->
<div class="profile-container mt-5 container">
  <div class="profile-left">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 250, width: 250, crop: :fill, class: "rounded-image" %>
    <% else %>
      <%= image_tag "sample-avatar.jpg", height: 250, width: 250, class: "rounded-image" %>
      <br>
    <% end %>

    <p class="greeting"> <%= @user.name %></p>
      <p> Is a match</p>
    <div class="match">
        <% if @matched_teach_skills.count > 0  %>

          <h4>You can teach:</h4>
            <% @matched_learn_skills.each do |m| %>
              <%= m.skill.name %>
            <% end %>
          <h4>You can learn:</h4>
            <% @matched_teach_skills.each do |m| %>
              <%= m.skill.name %>
            <% end %>
        <% end  %>
        <br>
        <br>


    </div>
    <% if @matches.last.chatroom.present? %>
      <%= link_to "Click to Message", chatroom_path(@matches.last.chatroom), class: "button-primary pfp"  %>
    <% else %>
      <%= link_to "Click to Message", match_chatrooms_path(params[:match_id]), data: { turbo_method: :post }, class: "button-primary pfp"  %>
    <% end %>

  </div>

  <div class="profile-right">
    <div class="info-box">
      <div class="info-item">
        <p><strong>Bio:</strong><br><%= @user.bio %></p>
        <p><%= @user.gender %>, <%= @user.age %></p>
      </div>

      <div class="info-item">
        <p><strong>City:</strong><br><%= @user.city %></p>
      </div>

      <div class="info-item">
        <p><strong>Availability:</strong><br><%= @user.availibility %></p>
      </div>

       <div class="info-item">
        <p><strong>Can teach:</strong></p>
        <ul class="teach-skills">
          <% @user.teach_skills.each do |skill| %>
            <li>
              <div class="skill-box">
                <p class="skill-name"><strong> <%= skill.skill.name %> </strong></p>
                <p class="skill-mode">Mode: <%= skill.mode %></p>
                <p class="skill-level">Level: <%= skill.level %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="info-item">
        <p><strong>Wants to learn:</strong></p>
        <ul class="learn-skills">
          <% @user.learn_skills.each do |skill| %>
            <li>
              <div class="skill-box2">
                <p class="skill-name"><strong> <%= skill.skill.name %> </strong></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>


    </div>
  </div>
</div>

</body>
</html>

<!--
<div class="profile-container">

  <div>
    <div class="profile-left">
      <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
      <p><%= @user.name %></p>

    <div>
    <% if @matched_teach_skills.count > 0  %>
      <p> is a match...</p>
      <h3>You can teach:</h3>
        <% @matched_teach_skills.each do |m| %>
          <%= m.skill.name %>
        <% end %>
      <h3>You can learn:</h3>
        <% @matched_learn_skills.each do |m| %>
          <%= m.skill.name %>
        <% end %>
    <% end  %>
    <br>
    <br>
    <% if @matches.last.chatroom.present? %>
      <%= link_to "Click to Message", chatroom_path(@matches.last.chatroom), class: "button-primary pfp"  %>
    <% else %>
      <%= link_to "Click to Message", match_chatrooms_path(params[:match_id]), data: { turbo_method: :post }, class: "button-primary pfp"  %>
    <% end %>

    </div>
    </div>

  </div>

  <div class="profile-right">
    <p><%= @user.email %></p>
    <p><%= @user.age %></p>
    <p><%= @user.gender %></p>
    <p><%= @user.bio %></p>
    <p><%= @user.city %></p>
    <p><%= @user.availibility %></p>
  </div>
</div>

-->
