<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="_profilepage.scss"> <!-- Link to your CSS file -->
  <title>User Profile</title>
</head>
<body>

<!-- Your HTML file -->
<div class="profile-container mt-5 container">
  <div class="profile-left">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 250, width: 250, class: "rounded-image" %>
    <% else %>
      <%= image_tag "sample-avatar.jpg", height: 250, width: 250, class: "rounded-image" %>
    <% end %>
    <% @user.name = @user.name.capitalize%>
    <p class="greeting">Hello <%= @user.name %></p>
    <%= link_to "Edit Profile", profile_edit_path(@current_user), class: "button-primary pfp" %>
    <%= link_to "Add Skill", profile_edit_path(anchor: 'skills-update'), class: "button-primary pfp" %>
  </div>

  <div class="profile-right">
    <div class="info-box">
      <div class="info-item">
        <p><strong>Bio:</strong><br><%= @user.bio %></p>
          <% if @user.gender != nil && @user.age != nil%>
            <p><%= @user.gender %>, <%= @user.age %></p>
          <%end%>
      </div>

      <div class="info-item">
        <p><strong>City:</strong><br><%= @user.city %></p>
      </div>

      <div class="info-item">
        <p><strong>Availability:</strong><br><%= @user.availibility %></p>
      </div>

       <div class="info-item">
        <p><strong>Can teach:</strong></p>
        <ul class="teach-skills">
          <% @user.teach_skills.each do |skill| %>
            <li>
              <div class="skill-box">
                <p class="skill-name teach-pill"><strong> <%= skill.skill.name %> </strong></p>
                <p class="skill-mode">Mode: <%= skill.mode %></p>
                <p class="skill-level">Level: <%= skill.level %></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

       <div class="info-item">
        <p><strong>Wants to learn:</strong></p>
        <ul class="learn-skills">
          <% @user.learn_skills.each do |skill| %>
            <li>
              <div class="skill-box2">
                <p class="skill-name learn-pill centered-text"><strong> <%= skill.skill.name %> </strong></p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>

</body>
</html>
