<p> <%= @user.name %> </p>
<%= @user.email %>
<%= @user.age %>
<%= @user.gender %>
<%= @user.bio %>
<%= @user.city %>
<%= @user.availibility %>
<% if current_user.photo.attached? %>
  <%= cl_image_tag current_user.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
