<div class="form-skills">
<h1> Choose what to learn </h1>
<br>
<%= simple_form_for @teach_skill do |f|%>
  <%= f.association :skill %>
  <%= f.input :mode, collection: ["Online", "Offline", "Online/Offline"]%>
  <%= f.input :level, collection: ["Beginner", "Intermediate", "Advanced"]%>
  <%= f.button :submit, class: "button-primary" %>
<%end%>
</div>
